.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #000;
  color: #fff;
}

.about-container {
  max-width: 1200px;
  margin: auto;
}

.about-header {
  text-align: left;
}

.about-nav span {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.about-nav .selected {
  background-color: #fff;
  color: #000;
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
}

.about-stats h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

.about-stats p {
  margin-top: 0;
}

.about-details {
  max-width: 600px;
  margin-left: 50px;
}

.about-tabs span {
  cursor: pointer;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.about-tabs span:hover {
  border-color: #fff;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 20px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-stats, .about-details {
    max-width: 100%;
    margin: 20px 0;
  }

  .about-details {
    margin-left: 0;
  }

  .about-nav span, .about-tabs span {
    margin-right: 5px; /* Adjust spacing for smaller screens */
  }
}
