.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  padding-right: 2.5rem; /* Extra right padding added */
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Branding and links styling */
.navbar-brand {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  transition: color 0.3s ease;
  padding-left: 2vw;
  padding-right: 2vw;
  transition: ease-in-out 0.3s;
}

.navbar-brand:hover {
  color: #d0bfeb;
  text-shadow: 0 0 20px #ffffff;
  transform: scale(1.02);

}

.navbar-brand a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d0bfeb;

  transition: all 0.3s ease-in-out;
}

.navbar-brand a:hover:before {
  width: 100%;

}

.navbar-brand a:hover {
  transform: scale(1.05);
  color: #d0bfeb;
  text-shadow: 0 0 20px #ffffff;
}

.navbar-links {
  font-size: 1rem;
  display: flex;
  padding-right: 2vw;
}

.navbar-links a {
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;



}

.navbar-links a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d0bfeb;
  transition: all 0.3s ease-in-out;
}

.navbar-links a:hover:before {
  width: 100%;
}

.navbar-links a:hover {
  transform: scale(1.05);
  color: #d0bfeb;
  text-shadow: 0 0 20px #ffffff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: rgba(255, 255, 0, 0.6);
  ;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .navbar-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #283e51;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .navbar-links.active {
    transform: translateX(0);
  }

  .navbar-links a {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .hamburger {
    display: flex;
  }
}

strong {
  font-weight: bold;
}