/* Make the navbar sticky */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* or any color you prefer */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.1rem 1.5rem;
}

/* Branding and links styling */
.navbar-brand {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: #333;
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-links a:hover {
    color: #0275d8; /* Change for hover effect */
    background-color: #f8f9fa; /* Light background on hover */
    border-radius: 5px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none; /* Hide links on smaller screens */
    }

    /* You can add a hamburger menu icon here for smaller screens */
}
