body {
  margin: 0;
  font-family: 'K2D', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #250444;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #250444;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #250444 rgba(0, 0, 0, 0.2);
}
